// begin styling here.
.content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 1366px;
  width: 100%;
  padding: 25px 1rem;
}

// not a typical horizontal `card`, but very `card-ish`
// assuming there can be different cards... e.g. `human__card`, `robot__card`
[class*="__card"] {
  h2 {
    color: black;
    font-family: 'Ovo', Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.36px;
  }
  
  p {
    color: #303239;
    font-size: 16px;
    line-height: 24px;
  }
  
  button {
    width: 100%;
    min-height: 51px;
    padding: 8px 40px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 0;
    letter-spacing: -0.32px;
  }
}

.animal {
  flex-direction: column-reverse;

  &__media {
    flex: 1 1 auto;
    height: clamp(290px, $animal-image-height-mobile, 440px);
    background: transparent url('/assets/images/cat.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
  }

  &__body {
    flex: 1 1 auto;
    padding: 1rem;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
    z-index: 2;

    h2, p {
      margin-bottom: 1rem;
    }
  }
}

// < 576px, but we don't use this one because build things mobile first, right?!
@include media-breakpoint-down(xs) {}

// ≥576px
@include media-breakpoint-up(sm) {}

// ≥768px "tablet"
@include media-breakpoint-up(md) {
  .content {
    padding: 25px clamp(16px, $gutter-padding, 70px)
  }

  [class*="__card"] {
    h2 {
      font-size: 36px;
      line-height: 39px;
    }

    p {
      font-size: clamp(16px, $body-copy-size, 22px);
      line-height: clamp(24px, $body-copy-line-height, 34px);
      margin-bottom: 25px;
    }
  }

  .animal {
    flex-direction: row-reverse;

    &__media {
      flex-basis: 631px;
      min-height: none;
      height: clamp(440px, $animal-image-height-up, 515px);
      background: transparent url('/assets/images/cat.jpg') center/140% no-repeat;
    }

    &__body {
      flex-basis: 653px;
      width: 100%;
      max-height: 556px;
      margin: 57px 0 0 -57px;
      padding: 
        clamp(3rem, $body-top-padding, 65px)
        clamp(1rem, $body-right-padding, 65px)
        clamp(2rem, $body-bottom-padding, 50px)
        clamp(2rem, $body-left-padding, 85px);
    }

    button {
      width: auto;
    }
  }
}

// ≥992px "laptop"
@include media-breakpoint-up(lg) {
  
}

// ≥1200px "desktop"
@include media-breakpoint-up(xl) {
}

// ≥1400px "large desktop"
@include media-breakpoint-up(xxl) {}