// begin styling here.
.content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 1366px;
  width: 100%;
  padding: 25px clamp(1rem, -5rem + 12.5vw, 70px); // ToDo
}

// not a typical horizontal `card`, but very `card-ish`
[class*="__card"] {
  h2 {
    color: black;
    font-family: 'Ovo', Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    line-height: 39px;
    letter-spacing: -0.36px;
  }
  
  p {
    color: #303239;
    font-size: 16px;
    line-height: 24px;
  }
  
  button {
    width: 100%;
    min-height: 51px;
    padding: 8px 40px;
    font-size: 16px;
    border-radius: 0;
    letter-spacing: -0.32px;
  }
}

.animal {
  flex-direction: column-reverse;

  > * {
    flex: 1;
  }

  &__media {
    flex-basis: 300px;
    background: transparent url('/assets/images/cat.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
  }

  &__body {
    padding: 1rem;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
    z-index: 2;

    h2, p {
      margin-bottom: 1rem;
    }
  }
}

// < 576px, but we don't use this one because build things mobile first, right?!
@include media-breakpoint-down(xs) {}

// ≥576px
@include media-breakpoint-up(sm) {}

// ≥768px "tablet"
@include media-breakpoint-up(md) {
  [class*="__card"] {
    p {
      font-size: clamp(16px, $font-size-clamp, 22px);
      line-height: clamp(24px, $line-height-clamp, 34px);
    }
  }

  .animal {
    flex-direction: row-reverse;

    > * {
      flex-basis: 50%;
    }

    &__media {
      min-width: 320px;
      min-height: 514px;
      width: 631px;
      height: 514px;
      background: transparent url('/assets/images/cat.jpg') center/140% no-repeat;
    }

    &__body {
      padding: 
        clamp(3rem, $body-top-padding, 65px)
        clamp(1rem, $body-right-padding, 65px)
        clamp(1rem, $body-bottom-padding, 50px)
        clamp(2rem, $body-left-padding, 85px);
      width: 100%;
      margin: 57px 0 0 -57px;
    }

    button {
      width: auto;
    }
  }
}

// ≥992px Harold's mid 2012 13" Macbook Air aka "Ol' Reliable"
@include media-breakpoint-up(lg) {}

// ≥1200px "desktop"
@include media-breakpoint-up(xl) {
}

// ≥1400px "large desktop"
@include media-breakpoint-up(xxl) {
  .animal {
    &__body {
      max-height: 556px;
    }
  }
}