$mg-blue: #327AB9;
$primary: $mg-blue;
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// Expressions used in clamp()
$font-size-clamp: calc(0.5184rem + 1.0033vw);
$line-height-clamp: calc(0.6973rem + 1.6722vw);
$body-top-padding: calc(1.6355rem + 2.8428vw);
$body-right-padding: calc(-0.6488rem + 5.5184vw);
$body-bottom-padding: calc(-1.8719rem + 5.8528vw);
$body-left-padding: calc(-2.2542rem + 8.8629vw);
$content-gutter-padding: calc(-2.1154rem + 8.6538vw);

// Notes on calculating responsive linear font size:
// https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/#for-those-who-dont-mind-that-edge-case
// slope = (maxFontSize - minFontSize) / (maxWidth - minWidth)
// yAxisIntersection = -minWidth * slope + minFontSize
// preferredValue = yAxisIntersection[rem] + (slope * 100)[vw]